<aside class="facebook_page">
  <h1>facebook page</h1>
  <div class="fb-like-box"
    data-href="http://www.facebook.com/musick.info"
    data-width="759"
    data-show-faces="true"
    data-stream="true"
    data-header="false"
    data-border-color="#f7f7f7"
    >
    </div>
</aside>