<aside class="activity">
  <h1>facebook activities</h1>
  <div class="fb-activity"
    data-site="<%=APP_CONFIG[:domain]%>"
    data-filter="<%=request.path%>"
    data-width="142"
    data-height="600"
    data-header="false"
    data-font="arial"
    data-recommendations="true"
    data-border-color="#f7f7f7"
    >
  </div>
</aside>