<div class="fb-activity"
  data-site="musick.info"
  data-width="262"
  data-height="600"
  data-header="false"
  data-font="arial"
  data-recommendations="true"
  data-border-color="#f7f7f7"
  >
</div>