<nav class="like_page">
  <ul>
    <li><%= render 'share/fb_like_page' %></li>
    <li><%= render 'share/mixi_check_page' %></li>
    <li><%= render 'share/tweet_page' %></li>
    <li class="hatena_bookmark"><%= render 'share/hatena_bookmark_page' %></li>
  </ul>
</nav>
