<a href="http://mixi.jp/share.pl" class="mixi-check-button" data-key="5bf910ca727ba90cdeb4951c33c942a707324f4d" data-url="<%=current_url%>">mixiチェック</a>
<script type="text/javascript" src="http://static.mixi.jp/js/share.js"></script>