<% content_for :title, "#{@artist_track.title} on Musick" %>
<% content_for :body_class, 'show'%>
<% content_for :search_form, render('artists/search_form', :remote => false) %>
<% content_for :like_page, render('share/like_page') %>
<% content_for :og_meta do%>
  <%=render('share/og_common', 
    :image => @artist_track.artist_item.large_image_url,
    :og_type => "musickapp:track"
  ) %>
<% end %>
<% content_for :fb_activity, render('share/fb_activity_feed', :filter_url => artist_path(@artist_track.artist_id))%>
<ul class="items pagination_content">
<li><%= render 'artists/artist_track', :artist_track => @artist_track %></li>
</ul>
<%= render 'share/artist_track_post', :filters => "all,artist_track#{@artist_track.id}"%>