<% content_for :title, "Musick" %>
<% content_for :body_class, 'index'%>
<% content_for :search_form, render('search_form', :remote => true) %>
<% content_for :og_meta do%>
  <%= render('share/og_common', 
    :site_name => 'Musick' ,
    :image => '',
    :og_type => "website"
  )%>
<% end %>
<ul class="artists pagination_content">
<% @artists.each do |artist| %>
  <li><%= render artist %></li>
<% end %>
</ul>
<div id="paginator">
  <%= paginate @artists, :remote => true %>
</div>
