<% content_for :body_class, 'index'%>
<% content_for :search_form, render('search_form') %>
<ul class="artist pagination_content">
<% @artists.each do |artist| %>
  <li><%= render artist %></li>
<% end %>
</ul>
<div id="paginator">
  <%= paginate @artists, :remote => true %>
</div>