$('<li><%= escape_javascript render(:partial => 'artists/artist', :collection => @artists, :spacer_template => 'share/li_separator') %></li>')
.appendTo('ul.artists')
.fadeIn(100, function(e) {
});
$('div#paginator').html('<%=escape_javascript(paginate @artists, :remote => true) %>');
$.musick.init();
$.fancybox.hideActivity();