$('<li><%= escape_javascript render(:partial => 'artists/artist', :collection => @artists, :spacer_template => 'share/li_separator') %></li>')
.appendTo('ul.artist')
.fadeIn(100, function(e) {
});
$('div#paginator').html('');
$.musick.init();
$.fancybox.hideActivity();