<li class="comment_like <%= provider.name %>" data-id="<%= provider.id %>">
  <%=link_to t('musick.post.like')[provider.id], posts_comments_like_path(posts_comment.post.id, posts_comment.id, {:provider_id => provider.id}), :method => :post, :remote => true %>
  <%= comments_like_people posts_comment %>
</li>