@charset "UTF-8";

/**
 * elements
 */
html {
    background: #f7f7f7;
}

body {
    position: relative;
    background: #f7f7f7;
}

a {
    color: #f8a41a;
}

a:hover {
    color: #f8a41a;
    text-shadow: 0px 0px 10px #f8a41a;

}

a.popup_action {
    cursor: pointer;
}

a.button,
button,
input[type=submit],
input[type=button],
input[type=reset] {
    border-top: 1px solid #ccc;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-left: 1px solid #ccc;
    padding: 5px 20px;
    font-weight: bold;
    cursor: pointer;
    color: #666;
    background: -moz-linear-gradient(top, #fff, #F1F1F1 1%, #F1F1F1 50%, #DFDFDF 99%, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #F1F1F1), color-stop(0.5, #F1F1F1), color-stop(0.99, #DFDFDF), to(#ccc));
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa;
    -webkit-box-shadow: inset 0 1px 3px #F1F1F1, inset 0 -15px #DFDFDF, 1px 1px 2px #E7E7E7;
    -moz-box-shadow: inset 0 1px 3px #F1F1F1, inset 0 -15px #DFDFDF, 1px 1px 2px #E7E7E7;
}

a.button:hover,
button:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover {
    background: -moz-linear-gradient(top, #fff, #e1e1e1 1%, #e1e1e1 50%, #cfcfcf 99%, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #e1e1e1), color-stop(0.5, #e1e1e1), color-stop(0.99, #cfcfcf), to(#ccc));
    -webkit-box-shadow: inset 0 1px 3px #e1e1e1, inset 0 -15px #cfcfcf, 1px 1px 2px #E7E7E7;
    -moz-box-shadow: inset 0 1px 3px #e1e1e1, inset 0 -15px #cfcfcf, 1px 1px 2px #E7E7E7;
}

a.button:active,
button:active,
input[type=submit]:active,
input[type=button]:active,
input[type=reset]:active {
    background: #ccc;
    padding: 6px 20px 4px;
}

a.button {
    text-decoration: none;
}

nav li a.button {
    display: inline-block;
}

a.button.mini,
button.mini,
input[type=submit].mini,
input[type=button].mini,
input[type=reset].mini {
    padding: 2px 6px;
    font-size: 11px;
}

a.button.mini:active,
button.mini:active,
input[type=submit].mini:active,
input[type=button].mini:active,
input[type=reset].mini:active {
    background: #ccc;
    padding: 3px 6px 1px;
}

time {
    color: #d8d2d4;
}

textarea, input[type=text] {
    outline: none;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    color: #333;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -moz-linear-gradient(top, #eee, #fff);
    filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#ffeeeeee,endColorstr=#ffffffff);
    zoom: 1;
    

}

/**
 * おしゃれform
 * http://www.webcreatorbox.com/tech/css3-jquery-form/
 */
input.checkbox,
input.radio {
    z-index: -1;
    position: absolute;
}
label.checkbox {
    display:block;
    background: url("../images/form/checkbox.png") no-repeat top left;
    padding-left:22px;
    height: 17px;
}
 
label.radio {
    display:block;
    background: url("../images/form/radio.png") no-repeat top left;
    padding-left:22px;
    height: 17px;
}

label.checkbox.selected,
label.radio.selected {
    background-position: bottom left;
}

/**
 * 背景に画像を割り当てたい時に使うclass
 * .show_bgした要素にwidth: 画像の幅, padding-top: 画像の高さ, background: 画像uriを指定をすること
 */
.show_bg {
    height:0;
    overflow:hidden;
    display:block;
}

ul.tab {
    margin: 0 0 20px 0;
    height: 28px;
    border-bottom: 2px solid #cccccc;
}

ul.tab>li {
    display: inline-block;
    margin: 0 0 -1px 5px;
    padding: 6px 20px 4px 20px;
    height: 16px;
    color: #666666;
    background: #f0f0f0;
    background: -moz-linear-gradient(top, #fff, #F1F1F1 1%, #F1F1F1 50%, #DFDFDF 99%, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #F1F1F1), color-stop(0.5, #F1F1F1), color-stop(0.99, #DFDFDF), to(#ccc));
    border: 2px solid #cccccc;
    -webkit-border-radius-topleft: 5px;
    -webkit-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 12px;
    letter-spacing: 0.18em;
}

ul.tab>li.selected {
    background: #F7F7F7;
    border-bottom: 2px solid #F7F7F7;
    font-weight: bold;
}

ul.tab>li a,
ul.tab>li a:hover {
    color: #333333;
    text-decoration: none;
    text-shadow:none;
}

/**
 * common class
 */
.hidden {
    display: none;
}

.highlight {
    color: #666666;
    background: #fff200;
}

/**
 * @see http://kojika17.com/2011/04/floatclearfix.php
 */
.clearfix {zoom:1;}
.clearfix:after{
    content: ""; 
    display: block; 
    clear: both;}

/**
 * page header
 */

body>header {
    position: relative;
    margin: 0 0 25px 0;
    padding: 15px 20px;
    height: 45px;
    background: #000000;
    -webkit-box-shadow: 0px 1px 10px #333;
    -moz-box-shadow: 0px 1px 10px #333;
    box-shadow: 0px 1px 10px #333;
}

body>header>h1 {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 155px;
    height: 40px;
}

body>header>form {
    margin: 8px auto 0 auto;
    width: 320px;
}

body>header>form>input[type=text] {
    width: 320px;
    height: 16px;
    font-size: 12px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/**
 * ヘッダーのユーザーnav
 */
nav#user a {
    color: #dddddd;
    text-decoration: none;
}

nav#user a:hover {
    color: #ffffff;
    text-shadow: none;
    text-decoration: none;
}

nav#user h1 {
    position: absolute;
    top: 10px;
    right: 0;
    display: block;
    width: 168px;
    height: 42px;
    font-weight: bold;
    font-size: 0.85em;
    vertical-align: center;
    cursor: pointer;
    padding-top: 5px;
    border: solid 3px transparent;
    z-index: 20;
    background: transparent url('/images/user_nav_arrow.png') no-repeat center right;
}

nav#user.hover h1 {
    padding-top: 5px;
    padding-bottom: 0;
    background: #333333 url('/images/user_nav_arrow.png') no-repeat center right;
    -moz-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -o-border-top-right-radius: 5px;
    -o-border-top-left-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -ms-border-top-left-radius: 5px;
} 

nav#user h1 img {
    margin: 5px;
}

nav#user a.name {
    position: absolute;
    top: 18px;
    left: 40px; /* img size + nav#user h1 img margin x 2 */
    display: block;
}

nav#user ul {
    position: absolute;
    top: 63px;
    right: 0;
    display: none;
    z-index: 20;
}

nav#user ul li {
    display: block;
    margin-top: 1px;
    padding: 4px 0;
    width: 168px;
    height: 20px;
    background: #333333;
    border: solid 3px transparent;
    cursor: pointer;
}

nav#user ul li a {
    margin: 3px 0 0 3px;
}

nav#user ul li.hover {
    background: #444444;
}

nav#user ul li:last-child {
    -moz-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
}

/**
 * page footer
 */
body>footer {
    clear: both;

    height: 100px;
    color: #bbbbbb;
    background: #fcfcfc;
    text-align: center;
}

body>footer ul {
    padding-top: 10px;
    float: left;
    margin-left: 20px;
}

body>footer li {
    display: inline-block;
    margin-right: 5px;
}

body>footer li:not(:last-child):after {
    margin-left: 5px;
    content: '|';
}

body>footer small {
    float: right;
    display: block;
    padding-top: 10px;
}

body>footer a {
    color: #aaaaaa;
}

/**
 * layout
 */
div#container {
    clear: both;
    width: 788px;
    min-height: 400px;
    margin: 0 auto 10px;
}

body#home div#container {
    min-height: 700px;
}

/**
 * like page
 */
nav.like_page {
    position: relative;
    margin: 20px 0;
    width: 788px;
    height: 60px;
}

nav.like_page li {
    display: inline-block;
    vertical-align: top;
}

nav.like_page li.mixi_check {
    margin-left: 80px;
    margin-right: 10px;
}

nav.like_page li.hatena_bookmark {
    position: absolute;
    top: 0;
    right: 0;
}

/**
 * home
 */

.welcome, 
.login {
    margin-bottom: 20px;
    padding: 10px;
    background-clip: padding-box;
    border: 15px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.6em;
    color: #333333;
    background: #fcfcfc;
}

.login {
    
}

.welcome p,
.login p {
    margin-bottom: 2.0em;
}

.welcome>h1,
.login>h1 {
    margin: -13px 0 10px -40px;
    padding: 10px 8px;
    width: 232px;
    border-width:0 0 0 5px;
    border-style:solid;
    line-height:140%;
    font-size: 1.2em;
    font-weight:bold;
    letter-spacing: 0.2em;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.welcome>h1 {
    border-color: #E2A3AD;
    background:#C6485B;
    color:#FFE6E7;
}

.login>h1 {
    border-color: #F9E281;
    background:#f4c504;
    color:#644602;
}

.login li {
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border: 5px solid #aaaaaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.login img {
    display: block;
    margin: 10px auto;
    width: 162px;
    height: 29px;
}

.login img.mixi {
    width: 131px;
    height: 28px;
}

/**
 * user home
 */
body#user nav li {
    display: inline-block;
}

/**
 * activity
 */
aside.activity {
    position: absolute;
    top: 100px;
    right: 0;
}

aside.activity>h1 {
    margin-left: -10px;
    padding: 5px 8px;
    width: 162px;
    border-width:0 0 0 5px;
    border-style:solid;
    line-height:140%;
    font-size: 1.0em;
    font-weight:bold;
    letter-spacing: 0.2em;
    border-color: #d8dfea;
    background:#3b5998;
    color:#d8dfea;
    z-index: 100;
}

.fb-activity {
    margin-bottom: 40px;
    width: 142px;
    height: 500px;
    background-clip: padding-box;
    border: 15px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fcfcfc;
}

/**
 * facebook page
 */
aside.facebook_page>h1 {
    margin-top: 20px;
    margin-left: -10px;
    padding: 5px 8px;
    width: 787px;
    border-width:0 0 0 5px;
    border-style:solid;
    line-height:140%;
    font-size: 1.0em;
    font-weight:bold;
    letter-spacing: 0.2em;
    border-color: #d8dfea;
    background:#3b5998;
    color:#d8dfea;
    z-index: 100;
}

.fb-like-box {
    margin-bottom: 40px;
    width: 758px;
    height: 560px;
    background-clip: padding-box;
    border: 15px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fcfcfc;
}


/**
 * comment
 */
aside.comments {
    margin: 20px 0;
}

/**
 * artist
 */
ul.artists>li {
    margin: 0 0 40px;
}

ul.follows.artists>li {
    display: inline-block;
}

section.artist {
    margin: 20px auto;
}

section.artist .images li {
    display: inline-block;
}

.index section.artist h1 {
    font-family: Arial, Helvetica, sans-serif;
    line-height:140%;
    font-weight:bold;
    font-size: 1.2em;
}

.show section.artist>header {
    text-align: center;
}

.show section.artist h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:#EFEFEF;
    line-height:140%;
    margin: 0;
    padding: 10px 8px;
    border-width:0 0 0 5px;
    border-color: #dddddd;
    border-style:solid;
    background:#6D6D6D;
    border-style:solid;
    line-height:140%;
    font-size: 1.5em;
    font-weight:bold;
    letter-spacing: 0.2em;
    text-align: left;
}

.artist header img {
    display: inline-block;
    margin: -5px auto -5px auto;
    max-width: 600px;
    max-height: 400px;
    padding: 10px 10px 25px 10px;
    background: #fefefe;
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0px 2px 15px #333;
    -moz-box-shadow: 0px 2px 15px #333;
    box-shadow: 0px 2px 15px #333;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.artist nav {
    display: inline-block;
    margin:0 auto 0;
    padding: 10px;
    background-clip: padding-box;
    border: 15px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.6em;
    color: #333333;
    background: #fcfcfc;
}

.artist nav li {
    display: inline-block;
}

.artist div.description {
    margin: 20px 0;
    padding: 20px;
    line-height: 1.6em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-rule: 1px dotted #d8d2d4;
    -moz-column-rule: 1px dotted #d8d2d4;
    column-rule: 1px dotted #d8d2d4;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    background: #fefefe;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.artist div.description p.content {
    display: none;
}

li>section.artist>h1 {
    width: 128px;
}

body.index .artist .images li img {
    width: 60px;
    height: 60px;
}

section.artist time {
    display: block;
    text-align: right;
}

section.artist_image div.image img {
}

/**
 * item search
 */
section.artist_item_search {
    margin: 20px auto;
    width: 680px;
}

section.artist_item_search form input {
    display: block;
    margin: 0 auto;
    width: 640px;
    font-size: 12px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

ul.items {
    margin: 20px;
}

ul.items>li>.item {
    margin-bottom: 15px;
}

ul.items>li>.item>div.image {
    float: left;
    width: 160px;
}

ul.items>li>.item>aside {
    position: relative;
    float: left;
    margin-left: 10px;
    width: 480px;
    height: 190px;
}

ul.items>li>.item>aside section.tracks {
    overflow: auto;
    padding-bottom: 20px;
    height: 142px;
}

ul.items>li>.item>aside section.tracks>ul>li,
ul.tracks>li>.item>aside section.tracks>a {
    display: inline-block;
    padding: 1px 3px;
    margin-bottom: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    color: #ffffff;
    background: #999;
}

ul.items>li>.item>aside section.tracks ul>li:not(:last-child) {
    margin-right: 4px;
}

ul.items>li>.item>aside section.tracks ul>li>a {
    color: #FFFFFF;
}


ul.items>li>.item>aside nav {
    position: absolute;
    bottom: 0;
    right: 0;
}

ul.items>li>.item>aside nav>ul>li {
    display: inline-block;
}

/**
 * track
 */
ul.tracks>li>.item>div.image {
    float: left;
    width: 30px;
}

ul.tracks>li>.item>aside {
    position: relative;
    float: left;
    margin-left: 10px;
    width: 280px;
    height: 30px;
}

/**
 * search
 */

form.search_form input[type="search"] {
    width: 320px;
    font-size: 1.0em;
}

form#search_element input[type="search"] {
    width: 320px;
    font-size: 1.0em;
}

/**
 * hide paginator
 */
#paginator {
    margin: 20px auto;
    width: 107px;
}

/**
 * round img
 */
.rounded-img1 {
    display: inline-block;
    border: solid 1px #000;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.rounded-img2 {
    display: inline-block;
    margin: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9), 0 -1px 0 rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9), 0 -1px 0 rgba(0, 0, 0, .6);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9), 0 -1px 0 rgba(0, 0, 0, .6);
}

/**
 * fancy box
 */
#fancybox_inline {
    display: none;
    margin: 10px 20px;
    font-size: 1.3em;
}

#fancybox_inline h1 {
    margin: 0 0 1.0em -10px;
    font-size: 1.1em;
    font-weight:bold;
    letter-spacing: 0.2em;
    text-align: center;
}

#fancybox-outer {
    background-clip: padding-box;
    border: 15px solid rgba(255, 255, 255, 0.6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#fancybox-outer .fancybox-bg {
    background-image: none;
}

/**
 * ソーシャル 投稿
 */
section.new_post {
    margin: 10px;
    width: 360px;
    
}

section.new_post form textarea {
    padding: 5px;
    width: 348px;
    height: 40px;
    overflow: hidden;
}

section.new_post form ul.providers {
    float: left;
    padding: 4px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

section.new_post form ul.providers li {
    display: inline-block;
    vertical-align: middle;
}

section.new_post form ul.providers li:not(:last-child) {
    margin-right: 10px;
}

section.new_post form input[type=submit] {
    float: right;
    display: block;
}

/**
 * ソーシャル friends
 */
ul.friends {
    margin: 10px 0;
}

ul.friends>li {
    float: left;
}

form#social_invite_friends {
    margin: 20px auto;
    width: 400px;
}

form#social_invite_friends>ul#to_friends>li {
    display: inline-block;
    margin: 1px;
    padding: 2px 3px;
    background: #FCFCFC;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

form#social_invite_friends>textarea {
    display: block;
    margin: 10px auto;
    width: 400px;
    height: 60px;
}

form#social_invite_friends>input[type=submit] {
    display: block;
    margin: 10px auto;
    width: 100px;
}

ul.friends section.profile {
    position: relative;
    margin: 2px;
    padding: 10px;
    width: 234px;/*192*/
    height: 48px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

ul.friends>li.selected section.profile {
    border: 2px solid rgba(0, 0, 0, 0.5);
}

ul.friends section.profile h1 {
    position: absolute;
    top: 10px;
    left: 68px;
}

ul.friends section.profile h2 {
    position: absolute;
    top: 30px;
    left: 68px;
    color: #666666;
}

ul.friends section.profile button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

ul.friends section.profile img {
    position:absolute;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/**
 * アクション投稿
 */
div#actions {
    display: none;
    position: absolute;
    border-top: 20px solid transparent;
    z-index: 2000;
}

div#actions>div.wrapper {
    position: relative;
    background: #ffffff;
    background-clip: padding-box;
    border: 15px solid rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div#actions>div.wrapper:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    top: -29px;
}

div#actions>div.wrapper.left:after {
    left: 10px;
}

div#actions>div.wrapper.right:after {
    right: 10px;
}

div#actions nav {
    margin: 10px;
    width: 360px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

div#actions li {
    display: inline-block;
    vertical-align: middle;
}

div#actions li:not(:last-child) {
    margin-right: 5px;
}

div#actions nav a.button {
    padding: 4px 6px;
    font-size: 11px;
}

div#actions nav.tag a.button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div#actions nav a.button.destroy {
    background: #ccc;
    padding: 5px 6px 3px;
    -webkit-box-shadow: inset 0 1px 3px #e1e1e1, inset 0 -15px #cfcfcf, 1px 1px 2px #E7E7E7;
    -moz-box-shadow: inset 0 1px 3px #e1e1e1, inset 0 -15px #cfcfcf, 1px 1px 2px #E7E7E7;
}

div#actions nav a.button.destroy:hover {
    color: #999;
    text-decoration: line-through;
}

div#actions nav a.button:active {
    background: #ccc;
    padding: 5px 6px 3px;
}

/**
 * youtube list
 */
div.youtube_list {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 108px;
    overflow: hidden;
    text-align: center;
    background: url('/images/youtube_back.png') center center;
    z-index: 1000;
}

div.youtube_list.hide {
    display: none;
}

div.youtube_list>ul {
    
}

div.youtube_list>ul>li {
    display: inline-block;
    width: 108px;
    height: 108px;
    /*background: url('/images/youtube_back.png') center center;*/
}

div.youtube_list>ul>li>article {
    position: relative;
    margin: 16px 0px;
    text-align: center;
}

div.youtube_list>ul>li>article>h1 {
    position: absolute;
    padding: 2px;
    left: 3px;
    bottom: 0;
    display: block;
    width: 98px;
    font-size: 8px;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
}

div.youtube_list>ul>li>article a,
div.youtube_list>ul>li>article a:hover {
    color: #ffffff;
    text-decoration: none;
}

form.amazon input {
    margin: 0;
    padding: 0;
}

li.amazon {
    height:28px;
    vertical-align: middle;
}


/**
 * static page
 */
section.static_page article {
    margin-bottom: 2.0em;
    padding: 10px;
    background-clip: padding-box;
    border: 15px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.6em;
    color: #333333;
    background: #fcfcfc;
}

section.static_page article ol li {
    margin: 0.5em 2.0em;
    list-style-type:decimal;
    list-style-position: outside;
}

section.static_page h1 {
    margin: -13px 0 10px -40px;
    padding: 10px 8px;
    width: 262px;
    border-width:0 0 0 5px;
    border-style:solid;
    line-height:140%;
    font-size: 1.2em;
    font-weight:bold;
    letter-spacing: 0.2em;
    border-color: #dddddd;
    border-style:solid;
    color: #ffffff;
    background:#6D6D6D;
}

/**
 * ご意見
 */
form.new_user_voice {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

form.new_user_voice h1 {
    text-align: left;
}

form.new_user_voice textarea {
    display: block;
    margin: 10px 0;
    width: 300px;
    height: 40px;
    text-align: left;
}

aside.user_voice {
    position: absolute;
    top: 680px;
    right: 0;
    width: 172px;
}

aside.user_voice form.new_user_voice {
    width: 170px;
}

aside.user_voice form.new_user_voice textarea {
    width: 158px;
}

aside.user_voice>h1 {
    margin-left: -10px;
    padding: 5px 8px;
    border-width:0 0 0 5px;
    border-style:solid;
    line-height:140%;
    font-size: 1.0em;
    font-weight:bold;
    letter-spacing: 0.2em;
    color: #EFEFEF;
    border-color: #DDD;
    background: #6D6D6D;
    color:#d8dfea;
    z-index: 100;
}

/**
 * stream
 */
section.stream>h1 {
    margin-left: -10px;
    margin-bottom: 10px;
    width: 787px;
    padding: 5px 8px;
    border-width:0 0 0 5px;
    border-style:solid;
    line-height:140%;
    font-size: 1.0em;
    font-weight:bold;
    letter-spacing: 0.2em;
    color: #EFEFEF;
    border-color: #DDD;
    background: #6D6D6D;
    color:#d8dfea;
    z-index: 100;
}

body#home section.stream {
    display: none;
    position: relative;
}

section.stream a.more {
    position: absolute;
    bottom: 0;
    right: 0;
}

section.stream section.artist {
    margin: 0;
}

section.stream ul li {
    display: inline-block;
    margin: 0 0 20px 0;
}

section.stream section.item h1 {
    width: 128px;
}

section.stream section.item img {
    width: 126px;
}

aside.faces>ul {
    position: absolute;
    top: 100px;
    left: 15px;
    width: 200px;
}

aside.faces>ul>li {
    display: inline-block;
    width: 34px;
}

aside.faces>ul>li img {
    width: 32px;
    height: 32px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
