<section class="profile search_hidable" data-id="<%=user.id%>">
  <hgroup class="searchable">
  <h1>
    <%=user.name%>
  </h1>
  </hgroup>
  <%=connected_providers user%>
  <%= link_to image_tag(user.image, :name => user.name, :title => user.name, :class => [:face, :square]), users_home_path(user.id) %>
</section>
