<% content_for :body_id, :home %>
<% content_for :search_form, render('artists/search_form', :remote => false) %>
<% content_for :like_page, render('share/like_page') %>
<% content_for :og_meta, render('share/og_common', :image => nil) %>
<% content_for :user_voice, render('share/user_voice') %>
<% content_for :fb_activity, render('share/fb_activity_feed') %>
<div class="main">
  <%= render 'share/login_button'%>
  <section class="clip_stream">
    <section id="clip_artist" class="stream" data-act="clip" data-target="artist" data-filters="friends">
      <h1><%=t'musick.stream.clips.artist.h1'%></h1>
      <ul class="artists"></ul>
    </section>
    <section id="clip_artist_item" class="stream" data-act="clip" data-target="artist_item" data-filters="friends">
      <h1><%=t'musick.stream.clips.artist_item.h1'%></h1>
      <ul class="artist_items"></ul>
    </section>
    <section id="clip_artist_track" class="stream" data-act="clip" data-target="artist_track" data-filters="friends">
      <h1><%=t'musick.stream.clips.artist_track.h1'%></h1>
      <ul class="artist_tracks"></ul>
    </section>
  </section>
</div>