<section class="static_page">
<article>
  <h1>Musickとは</h1>
  <p>
    Musick.infoは音楽を通じたコミュニケーションを目的としたサイトです。<br />
    好きなアーティストを検索して、そこからアーティストについて、作品や楽曲、アーティストの画像についてヒトコト投稿することで自分の好きな音楽についておもいっきり語りましょう。<br />
    <br />
    新たなアーティスト音楽との出会いもあるかも知れません。
  </p>
</article>
</section>
