<section class="static_page">
<article>
  <h1>基本方針</h1>
  <ol>
    <li>ログイン時に取得した個人情報については、本サイトのサービス提供のみに利用し、ユーザーの個人情報の保護に出来る限りの注意を払うものとします。</li>
    <li>本サイトはユーザーの許可なくして、個人情報保護方針の変更をすることができます。</li>
  </ol>
</article>