<section class="static_page">
<article>
  <h1>第1条 はじめに</h1>
  <ol>
    <li>本規約は、PPworks(以下「運営者」という)が本サイト上で提供するサービスを利用する方(以下「利用者」といいます)が利用する際の一切の行為に適用されます。</li>
    <li>本規約は、本サービスの利用条件を定めるものです。利用者は、本規約に従い本サービスを利用するものとします。</li>
    <li>利用者は、本サービスを利用することにより、本利用規約の全ての記載内容について同意したものとみなされます。</li>
  </ol>
</article>
<article>
  <h1>第2条 定義</h1>
  <p>
    本規約において使用する用語の意味は、次の各号に定めるとおりとします。
  </p>
  <ol>
    <li>本サイトとは、Musickと称するウェブサイト(http://musick.info)をいいます。</li>
    <li>本サービスとは、本サイト上で提供される全てのサービスをいいます。</li>
    <li>ユーザーとは、本サイトを利用するために会員登録している者をいいます。</li>
    <li>ログイン時に利用する外部サイトアカウントとは、facebookアカウント、twitterアカウント、mixiアカウントを指します。</li>
    <li>投稿とは、ユーザーが本サイトのフォームから入力した内容を指します。</li>
  </ol>
</article>
<article>
  <h1>第3条 本規約の変更</h1>
  <ol>
    <li>運営者は、事前に利用者に通知を行うことなく、本規約の追加、削除その他の変更（以下、「変更等」）を行うことができます。</li>
    <li>本規約の変更等が行われた後に利用者が本サービスを利用した場合、利用者は変更等が行われた後の本規約に同意したものとみなします。</li>
  </ol>
</article>
<article>
  <h1>第4条 ユーザー登録</h1>
  <ol>
    <li>本サービスのユーザー登録は、運営者が定める手続きに従い本サービスのユーザー登録を行い、画面が遷移した時点でユーザー登録が完了したものとします。</li>
    <li>ユーザー登録は、対応機器を通じてユーザー登録を希望する利用者ご本人が行う必要があります。</li>
  </ol>
</article>
<article>
  <h1>第5条 ユーザー情報の更新</h1>
  <ol>
    <li>ユーザーは、ログイン時に利用する外部サイトアカウントが本サイトで利用出来なくなる種の変更を行った際は、ご自身で本サイト上から再度、外部サイトアカウント連携設定更新を行うものとします。</li>
    <li>ユーザーが外部サイトアカウント連携の設定更新をしなかった場合、本サービスの投稿が正常に行えないことがあります。</li>
  </ol>
</article>
<article>
  <h1>第6条 ユーザーの退会</h1>
  <ol>
    <li>ユーザーは、運営者が定める手続きに従い、退会することができます。</li>
    <li>退会のお申し出は、すべてユーザーご本人からのお申し出とみなします。</li>
    <li>退会したユーザーが投稿したクリップ情報、ヒトコト投稿は大会時に削除いたします。</li>
  </ol>
</article>
<article>
  <h1>第7条 本サービスの提供条件 </h1>
  <ol>
    <li>運営者は、ユーザーに事前に通知することなく本サービスの内容を変更できるものとします。</li>
    <li>運営者は、ユーザーに事前に通知することなく本サービスの全部又は一部を廃止することができるものとします。</li>
    <li>運営者は、ユーザーに事前に通知することなく、システムのメンテナンス等で本サービスを停止できるものとします。</li>
  </ol>
</article>
<article>
  <h1>第8条 ユーザーの義務</h1>
  <ol>
    <li>ユーザーは、本サービスを利用するにあたり、自己の費用と責任において、必要な情報機器、ソフトウェア、通信事業者、インターネット・サービス・プロバイダー等との契約、その他必要となる全てのものを準備するものとします。</li>
    <li>ユーザーは、第三者が知的財産権を所有する著作物などを当社が提供する本サービス上に投稿しようとするときは、ユーザーにおいて、著作権者など当該知的財産権を保有する者から当該投稿に必要となる許諾を得たうえで投稿するものとします。当社は、当該投稿にかかる知的財産権の許諾などに関し一切関与しないものとします。</li>
  </ol>
</article>
<article>
  <h1>第9条 ユーザーの投稿</h1>
  <ol>
    <li>ユーザーによる投稿情報とは、ユーザーが本サービス内に投稿・アップロードするすべての情報及び、ユーザー間でコメント等によりやりとりされるこれらのすべての情報をいいます。投稿情報に関しては、第三者の権利侵害等その他に関し、これを投稿したユーザー本人が全責任を負うものとします。</li>
    <li>ユーザーは次の各号の内容を含む情報を投稿していけません。
      <ul>
        <li>虚偽または誤解を招く内容を含むもの</li>
        <li>他人になりすまして投稿しているもの</li>
        <li>第三者(特定の人物や団体・組織、思想、政治的立場等)に対する悪意ある表現や誹謗中傷を含むもの</li>
        <li>個人を特定できる情報(氏名、電話番号、住所、メールアドレス、所属学校・企業等)を含むもの</li>
        <li>人種差別、部落差別、男女差別、国家差別等、あらゆる種類の差別表現</li>
        <li>わいせつな表現またはヌード画像を含むもの</li>
        <li>特許権、実用新案権、意匠権、商標権、著作権、肖像権、プライバシー、名誉その他の他人の権利を侵害するもの</li>
        <li>コンピューターウィルスを含むもの</li>
        <li>クロスサイトスクリプティングを含むもの</li>
        <li>クロスサイトリクエストフォージェリを含むもの</li>
        <li>公序良俗に反するもの</li>
        <li>法令に違反するもの</li>
        <li>営利を目的とした商品説明を含むもの</li>
        <li>ユーザーに対して、現実の場での出会い、電子メールや電話を利用した交流等を呼びかけるもの。またその呼びかけに応じるもの</li>
        <li>その他、運営者が不適当と判断したものすべて</li>
      </ul>
    </li>
    <li>運営者は投稿情報が本規約および個別規約に違反する場合、その他運営者が不適当と判断した場合には、運営者が投稿情報を削除（全部もしくは一部）又は公開範囲の変更等の措置をすることができるものとします。</li>
  </ol>
</article>
<article>
  <h1>第10条 免責事項</h1>
  <ol>
    <li>運営者は、ユーザーの通信や活動に関与しません。万一ユーザー間の紛争があった場合でも、当該ユーザー間で解決するものとし、弊社はその責任を負いません。</li>
    <li>運営者は、本サービスの内容の追加、変更、又は本サービスの中断、終了によって生じたいかなる損害についても、一切責任を負いません。アクセス過多、その他予期せぬ要因で表示速度の低下や障害等が生じた場合も同様とします。</li>
    <li>運営者は、ユーザーによって投稿される情報を監視したり、保存する義務を負いません。</li>
    <li>運営者は、ユーザーによって投稿される日記等の情報の合法性、道徳性、信頼性、正確性について責任を負いません。ユーザーによって投稿される情報が、当該ユーザーが所属する法人・団体等の内部規則等に適合することについても、責任を負いません。</li>
    <li>本サービス上に表示されるアーティスト画像、アーティスト情報は、Last.fm APIを介して表示してます。運営者は、これらの情報について合法性、道徳性、信頼性、正確性について責任を負いません</li>
    <li>本サービス上に表示される商品（以下、「本件商品」）の情報は、Amazonアソシエイト・プログラム運営規約に基づき、Amazon.co.jp（アマゾンジャパン株式会社）が管理している商品の情報です。本件商品の注文、決済、発送、キャンセル、返品、商品の不備、不具合、商品のお問い合わせ等、本件商品の購入から受領に至るまで、本件商品に関する全責任はAmazon.co.jpの利用規約に基づきAmazon.co.jpが負い、当社はいかなる理由においても一切その責任を負わないものとします。
    <li>本件商品の詳細閲覧及び購入は、Amazon.co.jpが運営するサイト（以下、「アマゾンサイト」）において行われ、詳細閲覧及び購入の際には本サイトからアマゾンサイトに自動で遷移します。本件商品に関する全責任はAmazon.co.jpが負い、当社はいかなる理由においても一切その責任を負わないものとします。</li>
    <li>本件商品に関する情報等は、ユーザによって提供されたコメント等を除き、全てAmazon.co.jpに帰属する情報であり、その内容に誤り等があった場合においても、当社は一切その責任を負わないものとします。</li>
    <li>本件商品の情報等に関して、本サイトまたは本サービス上で表示される情報の内容と、アマゾンサイト上で表示される情報の内容とが一致しない場合があります。情報の不一致につき、当社はいかなる理由においても一切その責任を負わないものとします。ユーザ及び第三者は、アマゾンサイトにおいて本件商品に関する最新の情報を確認してください。アマゾンサイトに遷移した後、ユーザが本件商品購入した場合は、ユーザは本件商品の最新情報を確認した上で購入したものとみなします。</li>
  </ol>
</article>
<article>
  <h1>第11条 通知・連絡</h1>
  <ol>
    <li>利用者は、運営者に連絡をする場合、運営者が指定するフォームにての連絡を行うものとします。本サービス掲載上の連絡先以外から通知に関してはお受けしかねます。運営者からの利用者に対する連絡は、本サービス上での掲示、または利用者への電子メールなどにより行うものとします。ただし、利用者から正確な連絡先の提供がなされていない場合の不利益に関しては、運営者は一切責任を負いません。</li>
  </ol>
</article>
<article>
  <h1>第12条 準拠法と裁判管轄</h1>
  <ol>
    <li>本規約は、日本法を準拠とし、解釈されるものとします。 また本サービスと利用者の間の訴訟が生じた場合、東京地方裁判所を第一審の専属管轄裁判所とします。</li>
  </ol>
</article>
</section>
