<section class="static_page">
<article>
  <h1>申し訳ございません</h1>
  <p>
    Musickは現在招待制のため、招待されたアカウントのみでログイン可能となっております。<br />
    もし招待された方でログイン出来ない場合は、招待されたサービスでのログインをお試しください。
  </p>
  <p>
    招待してくれる人が周りにいない場合は、<a href="http://www.facebook.com/musick.info" class="external">MusickのFacebookページ</a>をいいね！して頂くことでご利用頂けます
  </p>
</article>
</section>
<%= render 'share/facebook_page'%>
