<section class="static_page">
<article>
  <h1>申し訳ございません</h1>
  <p>
    Musickは現在招待制のため、招待されたアカウントのみでログイン可能となっております。<br />
    もし招待された方でログイン出来ない場合は、招待されたサービスでのログインをお試しください。
  </p>
</article>
</section>
