<section class="item clearfix">
  <h1 class="name"><%= link_to truncate(artist_item.title, :length => 19), artist_item_path(artist_item.artist_id, artist_item.asin) %></h1>
  <div class="image">
  <%= link_to image_tag(artist_item.medium_image_url, :class => 'rounded-img1'), artist_item_path(artist_item.artist_id, artist_item.asin) %>
  </div>
</section>
