<% @users_artist_tracks.each do |users_artist_track| %>
  $('ul.artist_tracks').append('<li><%=escape_javascript(render 'artist_track', :artist_track => users_artist_track.artist_track, :user => users_artist_track.user)%></li> ');
<% end %>
$('section#clip_artist_track').show().fadeIn(100);
$('div#paginator').html('<%=escape_javascript(paginate @users_artist_tracks, :remote => true) %>');
$.musick.init();