<% unless current_page.last? %>
  <%= link_to_unless current_page.last?, t('musick.more'), url, :class => :button, :remote => remote do |name| %>
  <span class="disabled"><%= name %></span>
  <% end %>
<% end %>
