<section class="artist">
  <h1 class="name"><%= link_to artist.name, artist_path(artist.id) %></h1>
  <% if artist.artist_lastfm.present? && artist.artist_lastfm.thumbnail_image.present? %>
    <%= link_to image_tag(artist.artist_lastfm.thumbnail_image, :class => 'rounded-img1'), artist_path(artist.id) %>
  <% end %>
</section>
