$('<li><%= escape_javascript render(:partial => 'item', :collection => @items, :spacer_template => 'share/li_separator') %></li>')
.appendTo('ul.items')
.fadeIn(100, function(e) {
});
$('div#paginator').html('<%=escape_javascript(paginate @items, :remote => true) %>');
$.musick.init();
$.fancybox.hideActivity();