<ul class="items">
<%@items.each do |item|%>
  <li>
    <%= render 'item', :item => item, :artist_id => params[:artist_id] %>
  </li>
<%end%>
</ul>
<div id="paginator">
  <%= paginate @items, :remote => true %>
</div>
