<ul class="items">
<%@artist_items.each do |artist_item|%>
  <li>
    <%= render 'artists/artist_item', :artist_item => artist_item, :artist_id => params[:artist_id] %>
  </li>
<%end%>
</ul>
<div id="paginator">
  <%= paginate @artist_items, :remote => true %>
</div>
