<%@items.each do |item|%>
$('<li><%= escape_javascript render 'item', :item => item, :artist_id => params[:artist_id] %></li>').appendTo('ul.items');
<%end%>
$('div#paginator').html('<%=escape_javascript(paginate @items, :remote => true) %>');
$.musick.init();
$.fancybox.hideActivity();
setTimeout(function() {
  $('div#fancybox-overlay').css({'height' : $(document).height()});
}, 300);
