<% content_for :title, "#{@artist_item.title} on Musick" %>
<% content_for :search_form, render('artists/search_form', :remote => false) %>
<% content_for :like_page, render('share/like_page') %>
<% content_for :og_meta do%>
  <%=render('share/og_common', 
    :image => @artist_item.large_image_url
  ) %>
<% end %>
<% content_for :fb_activity, render('share/fb_activity_feed', :filter_url => artist_path(@artist_item.artist_id))%>
<ul class="items pagination_content">
<li><%= render 'artists/artist_item', :artist_item => @artist_item, :artist_id => @artist_item.artist_id %></li>
</ul>
